<%# # ORDER ITEM <Order id: 1, total_cents: 2449, created_at: "2022-05-05 15:47:31.148426000 +0000", updated_at: "2022-05-05 15:47:31.148426000 +0000", stripe_charge_id: "ch_3Kw6tqJPBCFSU9D21foGt8LL", email: "kvirani@gmail.com"> %>

<%# LINE ITEM ActiveRecord::Associations::CollectionProxy [#<LineItem id: 1, order_id: 1, product_id: 6, quantity: 1, item_price_cents: 2449, total_price_cents: 2449, created_at: "2022-05-05 15:47:31.163428000 +0000", updated_at: "2022-05-05 15:47:31.163428000 +0000">]> %>


<tr>
  <td>
    <%= image_tag item.product.image.thumb.url %>
  </td>
  <td>
    <h4> <%= item.product.name %> </h4>
    <br>
    <p> <%= item.product.description %> </p>
  </td>
  <td>
    <%= item.product.price %>
  </td>
  <td>
    <div>
    <%= item.quantity %>
    </div>
  </td>
  <td>
    <%= item.quantity * item.product.price%>
  </td>
</tr>
